<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://developers.facebook.com/schema/">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>{{page.title}}</title>
    {% if page.meta_title %}
    <meta name="title" content="{{page.title}}" />
    {% endif %}
    {% if page.meta_description %}
    <meta name="description" content="{{page.meta_description}}" />
    {% endif %}
    {% if page.meta_image %}
    <link rel="image_src" href="{{page.meta_image}}" />
    {% endif %}
    <meta name="google-site-verification" content="N_xzdr6ymSUQFhAEvQg7f-sp1JAeJCdW2JuaRg-da0w" />

    <meta property="fb:admins" content="antonin.hildebrand" />
    {% if page.ogmeta %}
        {% if page.ogmeta.email %}
            <meta property="og:email" content="{{page.ogmeta.email}}" />
        {% endif %}
        {% if page.ogmeta.description %}
            <meta property="og:description" content="{{page.ogmeta.description}}" />
        {% endif %}
        {% if page.ogmeta.site_name %}
            <meta property="og:site_name" content="{{page.ogmeta.site_name}}" />
        {% endif %}
        {% if page.ogmeta.type %}
            <meta property="og:type" content="{{page.ogmeta.type}}" />
        {% endif %}
        {% if page.ogmeta.title %}
            <meta property="og:title" content="{{page.ogmeta.title}}" />
        {% endif %}
        {% if page.ogmeta.url %}
            <meta property="og:url" content="{{page.ogmeta.url}}" />
        {% endif %}
        {% if page.ogmeta.image %}
            <meta property="og:image" content="{{page.ogmeta.image}}" />
        {% endif %}
    {% endif %}

    <link href="http://www.google.com/profiles/antonin.hildebrand" rel="me" type="text/html" />
    <link href="http://feeds.feedburner.com/binaryage-blog" type="application/atom+xml" rel="alternate" title="The ideas from BinaryAge" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/shared/css/site.css" type="text/css">
    {% if page.styles %}
        {% for s in page.styles %}
            <link rel="stylesheet" href="{{s}}.css" type="text/css">
        {% endfor %}
    {% endif %}
    <script src="/shared/js/code.js"></script>
    {% if page.scripts %}
        {% for s in page.scripts %}
            <script src="{{s}}"></script>
        {% endfor %}
    {% endif %}
  </head>
  <body>
    <div id="header">
        <div class="container header-bar">
            <div class="span-7">
                <a href="http://binaryage.com" title="Binary Age - tools for developers"><div class="header-logo"></div></a>
            </div>
            <div class="span-17 last">
                <ul class="header-menu {{page.menu}}">
                    <li><a class="menu-item-about" href="http://binaryage.com/about"><span>about</span></a></li>
                    <li><a class="menu-item-blog" href="http://blog.binaryage.com"><span>blog</span></a></li>
                    <li><a class="menu-item-products" href="http://binaryage.com"><span>products</span></a></li>
                    <li><a class="menu-item-store disabled" href=""><span>store</span></a></li>
                </ul>
                <div class="opening-soon">opening soon</div>
            </div>
        </div>
        <script type="text/javascript">
            Cufon.replace('.header-menu span', {
                textShadow: '#eee 0px 1px'
            });
        </script>
    </div>
    <script type="text/javascript"> Cufon.now(); </script>
    <div id="main">
      {{content}}
      <div class="clear"></div>
    </div>
    <div id="footer">
      <div class="container">
          <div class="footer-separator"></div>
          <div class="footerbox">
             <div class="logos">
                <div class="raist-cz">
                  <a href="http://raist.cz"><div class="footer-logo raist-logo" title="Raist.cz - webdesign"></div></a>
                </div>
                {% if page.repo %}
                <div class="github-icon">
                  <a href="{{page.repo}}"><div class="footer-logo github-logo" title="GitHub - social code hosting"></div></a>
                </div>
                {% else %}
                <div class="github-icon">
                  <a href="http://github.com/darwin"><div class="footer-logo github-logo" title="GitHub - social code hosting"></div></a>
                </div>
                {% endif %}
                <div class="binary-age">
                   <a href="http://www.binaryage.com"><div class="footer-logo binaryage-logo" title="BinaryAge - tools for power users"></div></a>
                </div>
              </div>
             <div class="copyright">
               <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/"><img title="Web site license" alt="Creative Commons License" style="border-width:0" src="/shared/img/byccnd.png" /></a>
             </div>
             <div class="footer-links">
               <a href="http://binaryage.com">products</a> | 
               <!-- <a href="http://store.binaryage.com">store</a> |  -->
               <a href="http://blog.binaryage.com">blog</a> | 
               <!-- <a href="http://binaryage.com/mediakit">mediakit</a> |  -->
               <a href="http://getsatisfaction.com/binaryage">support</a>
              {% if page.repo %}
                   | <a href="{{page.repo}}">source code</a>
              {% endif %}
             </div>
          </div>
       </div>
       <script type="text/javascript">
           Cufon.replace('.footer-links', {
               hover: { color: "#000"}
           });
       </script>
    </div>
    
{% if page.repo %}
    <a href="{{page.repo}}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" /></a>    
{% endif %}

{% if site.url contains ".org" %}
    <script type="text/javascript" charset="utf-8">
        if ((document.location+"").match(/showgrid/)) {
            $('.container').addClass('showgrid');
        }
    </script>
{% endif %}
    
{% if page.fbsdk %}
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '332451499524', status: true, cookie: true, xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
{% endif %}

{% if page.satisfaction %}
    <script type="text/javascript" charset="utf-8">
      var is_ssl = ("https:" == document.location.protocol);
      var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
      document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript" charset="utf-8">
      var feedback_widget_options = {};
      feedback_widget_options.display = "overlay";  
      feedback_widget_options.company = "binaryage";
      feedback_widget_options.placement = "left";
      feedback_widget_options.color = "#656565";
      feedback_widget_options.style = "idea";
      var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
    </script>
{% endif %}

{% if site.url contains ".com" %}
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-8404259-1");
        pageTracker._setDomainName(".binaryage.com");
        pageTracker._trackPageview();
        } catch(err) {}
    </script>
{% endif %}

{% if page.disqus %}
    <script type="text/javascript">
    (function() {
        var links = document.getElementsByTagName('a');
        var query = '?';
        for(var i = 0; i < links.length; i++) {
            if(links[i].href.indexOf('#disqus_thread') >= 0) {
                query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
            }
        }
        document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/binaryage/get_num_replies.js' + query + '"></' + 'script>');
    })();
    </script>
{% endif %}
  </body>
</html>