<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://developers.facebook.com/schema/"
      {% if page.id %}class="{{page.id}}"{% endif %}
>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>{{page.title}}</title>
    {% if page.meta_title %}
    <meta name="title" content="{{page.title}}" />
    {% endif %}
    {% if page.meta_description %}
    <meta name="description" content="{{page.meta_description}}" />
    {% endif %}
    {% if page.meta_keywords %}
    <meta name="keywords" content="{{page.meta_keywords}}" />
    {% endif %}
    {% if page.meta_image %}
    <link rel="image_src" href="{{page.meta_image}}" />
    {% endif %}
    <meta name="google-site-verification" content="N_xzdr6ymSUQFhAEvQg7f-sp1JAeJCdW2JuaRg-da0w" />

    <meta property="fb:admins" content="antonin.hildebrand" />
    {% if page.ogmeta %}
        {% if page.ogmeta.email %}
            <meta property="og:email" content="{{page.ogmeta.email}}" />
        {% endif %}
        {% if page.ogmeta.description %}
            <meta property="og:description" content="{{page.ogmeta.description}}" />
        {% endif %}
        {% if page.ogmeta.site_name %}
            <meta property="og:site_name" content="{{page.ogmeta.site_name}}" />
        {% endif %}
        {% if page.ogmeta.type %}
            <meta property="og:type" content="{{page.ogmeta.type}}" />
        {% endif %}
        {% if page.ogmeta.title %}
            <meta property="og:title" content="{{page.ogmeta.title}}" />
        {% endif %}
        {% if page.ogmeta.url %}
            <meta property="og:url" content="{{page.ogmeta.url}}" />
        {% endif %}
        {% if page.ogmeta.image %}
            <meta property="og:image" content="{{page.ogmeta.image}}" />
        {% endif %}
    {% endif %}

    <link href="http://www.google.com/profiles/antonin.hildebrand" rel="me" type="text/html" />
    <link href="http://feeds.feedburner.com/binaryage-blog" type="application/atom+xml" rel="alternate" title="Ideas from BinaryAge" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/shared/css/site.css" type="text/css">

    {% if page.xstatic != 1 %}
    {% if page.styles %}
        {% for s in page.styles %}
            <link rel="stylesheet" href="{{s}}.css" type="text/css">
        {% endfor %}
    {% endif %}
    {% endif %}
    <!-- SCRIPTS START -->
    <script type="text/javascript" charset="utf-8">
    /*
    CSS Browser Selector v0.3.5 (Feb 05, 2010)
    Rafael Lima (http://rafael.adm.br)
    http://rafael.adm.br/css_browser_selector
    License: http://creativecommons.org/licenses/by/2.5/
    Contributors: http://rafael.adm.br/css_browser_selector#contributors
    */
    function css_browser_selector(u){var ua = u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1;},g='gecko',w='webkit',s='safari',o='opera',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?'mobile':is('iphone')?'iphone':is('ipod')?'ipod':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win':is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);        
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    {% if page.no_optimizely != 1 %}
    <script src="//cdn.optimizely.com/js/3577014.js"></script>
    {% endif %}
    {% if page.xstatic != 1 %}
    <script src="http://cdn.jquerytools.org/1.2.5/all/jquery.tools.min.js"></script>
    <script src="/shared/js/code.js"></script>
    {% if page.scripts %}
        {% for s in page.scripts %}
            <script src="{{s}}"></script>
        {% endfor %}
    {% endif %}
    
    {% if site.url contains ".com" %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8404259-1']);
      _gaq.push(['_setDomainName', '.binaryage.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
    
    <script type="text/javascript">
        WebFontConfig = { 
            google: { families: [ 'Reenie Beanie' ] }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
    {% endif %}
    <!-- SCRIPTS END -->
  </head>
  <body id="page-{{ page.url | remove: '/' | remove: '.html' }}">
    <div id="header-wrapper">
        <div id="header">
            <div class="container header-bar">
                <div class="span-7">
                    <a href="http://binaryage.com" title="Binary Age - software"><div class="header-logo"></div></a>
                    <div class="twitterbox">
                        <div id="tweets-scrollable">
                            <ol id="tweets" class="statuses">
                            </ol>
                        </div>
                    </div>
                    <div class="lovebox" style="display:none">
                        <div class="lovebox-arrow"></div>
                        Yeah, it looks like people love this software :-)<br>
                        Want to <a href="http://totalfinder.binaryage.com/free-licenses">blog about it</a>?
                    </div>
                </div>
                <div class="span-17 last">
                    <ul class="header-menu {{page.menu}} segment">
                        <li class="enabled segment-1 menu-item-store"><a href="https://sites.fastspring.com/binaryage/instant/totalfinder"><span>store</span></a></li>
                        <li class="enabled segment-0 menu-item-products"><a href="http://binaryage.com"><span>products</span></a></li>
                        <li class="enabled segment-0 menu-item-blog"><a href="http://blog.binaryage.com"><span>blog</span></a></li>
                        <li class="enabled segment-2 menu-item-support"><a href="http://support.binaryage.com"><span>support</span></a></li>
                    </ul>
                    <ul class="top-menu {{page.menu}}">
                        <li class="enabled menu-item-twitter-praise praise-button" title="Show Twitter praise for BinaryAge"><span>Watch reactions from Twitter</span></li>
                        <li class="menu-item-separator menu-item-separator-1">|</li>
                        <li class="enabled menu-item-twitter" title="Follow binaryage on Twitter"><a href="http://twitter.com/binaryage"><span>Follow me on Twitter</span></a></li>
                        <li class="menu-item-separator menu-item-separator-2">|</li>
                        <li class="enabled menu-item-subscribe" title="Subscribe to the newsletter"><a class="subscribe-link" rel="#subscribe"><span>Subscribe to news from BinaryAge</span></a></li>
                        <li class="menu-item-separator menu-item-separator-2">|</li>
                        <li class="enabled menu-item-about"><a href="http://binaryage.com/about.html"><span>About BinaryAge</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="main">
      {{content}}
      <div class="clear"></div>
    </div>
    <div id="footer">
      <div class="container">
          <div class="footer-separator"></div>
          <div class="footerbox">
             {% if page.fblikefooter %}
             <div class="facebook-like-button-wrapper">
                 <fb:like href="http://www.binaryage.com" layout="standard" show_faces="false" font="lucida grande"></fb:like>
             </div>
             {% else %}
             <div class="copyright">
               <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/"><img title="Web site license" alt="Creative Commons License" style="border-width:0" src="/shared/img/byccnd.png" /></a>
             </div>
             {% endif %}
             <div class="footer-links force-right">
               <a href="http://www.binaryage.com">products</a> | 
               <!-- <a href="http://store.binaryage.com">store</a> |  -->
               <a href="http://blog.binaryage.com">blog</a> | 
               <!-- <a href="http://binaryage.com/mediakit">mediakit</a> |  -->
               <a href="http://support.binaryage.com">support</a>
              {% if page.repo %}
                   | <a href="{{page.repo}}">source code</a>
              {% endif %}
             </div>
          </div>
       </div>
    </div>
    
{% if page.repo %}
    <a href="{{page.repo}}"><img style="z-index:1000; position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" /></a>    
{% endif %}

{% if page.xstatic != 1 %}

{% if site.url contains ".org" %}
    <script type="text/javascript" charset="utf-8">
        if ((document.location+"").match(/showgrid/)) {
            $('.container').addClass('showgrid');
        }
    </script>
{% endif %}
    
{% if page.fbsdk %}
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '332451499524', status: true, cookie: true, xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
{% endif %}

{% if page.satisfaction %}
    <div id="getsatifucktion"></div>
    <div id="getsatifucktion2"></div>
    <script type="text/javascript" charset="utf-8">
      $("#getsatifucktion").html(writeCapture.sanitize('<scr'+'ipt type="text/javascript" src="http://s3.amazonaws.com/getsatisfaction.com/javascripts/feedback-v2.js"></scr'+'ipt>', {
          done: function() {
              if (typeof window.GSFN == "object") {
                  var GSFNFeedbackWidget = new GSFN.feedback_widget({
                      container: "getsatifucktion2",
                      display: "overlay",
                      company: "binaryage",
                      placement: "left",
                      color: "#656565",
                      style: "idea"
                  });
              }
          }
      }));
    </script>
{% endif %}

<div class="subscribe-overlay" id="subscribe">
    <div class="chimp"><div class="chimp-quote">Don't worry, I'm a nice postman... MailChimp</div></div>

<!-- Begin MailChimp Signup Form -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script type="text/javascript" src="http://downloads.mailchimp.com/js/jquery.validate.js"></script>
<script type="text/javascript" src="http://downloads.mailchimp.com/js/jquery.form.js"></script>
<script type="text/javascript">
// delete this script tag and use a "div.mce_inline_error{ XXX !important}" selector
// or fill this in and it will be inlined when errors are generated
var mc_custom_error_style = '';
</script>
<div id="mc_embed_signup">
<form action="http://binaryage.us1.list-manage.com/subscribe/post?u=55cafa88a4143c3261c960461&amp;id=58c24e56e2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <fieldset>
    <legend>Yes, I want to join the mailing list from BinaryAge</legend>
<div class="indicate-required">* indicates required</div>
<div class="mc-field-group">
<input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="me@someplace.com">
</div>
<div class="mc-field-group">
    <label class="input-group-label">Product </label>
    <div class="input-group">
    <ul><li><input type="checkbox" value="1" name="group[1]" id="mce-group-1-0"><label for="mce-group-1-0">TotalFinder</label></li>
<li><input type="checkbox" value="2" name="group[2]" id="mce-group-1-1"><label for="mce-group-1-1">Visor</label></li>
<li><input type="checkbox" value="4" name="group[4]" id="mce-group-1-2"><label for="mce-group-1-2">FireQuery</label></li>
<li><input type="checkbox" value="8" name="group[8]" id="mce-group-1-3"><label for="mce-group-1-3">XRefresh</label></li>
<li><input type="checkbox" value="16" name="group[16]" id="mce-group-1-4"><label for="mce-group-1-4">FireLogger</label></li>
<li><input type="checkbox" value="32" name="group[32]" id="mce-group-1-5"><label for="mce-group-1-5">FireRainbow</label></li>
<li><input type="checkbox" value="64" name="group[64]" id="mce-group-1-6"><label for="mce-group-1-6">DryDrop</label></li>
</ul>
    </div>
</div>
        <div id="mce-responses">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
    </fieldset> 
</form>
</div>
<script type="text/javascript">
var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';var err_style = '';
try{
    err_style = mc_custom_error_style;
} catch(e){
    err_style = 'margin: 1em 0 0 0; padding: 1em 0.5em 0.5em 0.5em; background: ERROR_BGCOLOR none repeat scroll 0% 0%; font-weight: bold; float: left; z-index: 1; width: 80%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: ERROR_COLOR;';
}
var mce_jQuery = jQuery.noConflict();
mce_jQuery(document).ready( function($) {
  var options = { errorClass: 'mce_inline_error', errorElement: 'div', errorStyle: err_style, onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
  var mce_validator = mce_jQuery("#mc-embedded-subscribe-form").validate(options);
  options = { url: 'http://binaryage.us1.list-manage.com/subscribe/post-json?u=55cafa88a4143c3261c960461&id=58c24e56e2&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                beforeSubmit: function(){
                    mce_jQuery('#mce_tmp_error_msg').remove();
                    mce_jQuery('.datefield','#mc_embed_signup').each(
                        function(){
                            var txt = 'filled';
                            var fields = new Array();
                            var i = 0;
                            mce_jQuery(':text', this).each(
                                function(){
                                    fields[i] = this;
                                    i++;
                                });
                            mce_jQuery(':hidden', this).each(
                                function(){
                                    if ( fields[0].value=='MM' && fields[1].value=='DD' && fields[2].value=='YYYY' ){
                                        this.value = '';
                                    } else if ( fields[0].value=='' && fields[1].value=='' && fields[2].value=='' ){
                                        this.value = '';
                                    } else {
                                        this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                                    }
                                });
                        });
                    return mce_validator.form();
                }, 
                success: mce_success_cb
            };
  mce_jQuery('#mc-embedded-subscribe-form').ajaxForm(options);

});
function mce_success_cb(resp){
    mce_jQuery('#mce-success-response').hide();
    mce_jQuery('#mce-error-response').hide();
    if (resp.result=="success"){
        mce_jQuery('#mce-'+resp.result+'-response').show();
        mce_jQuery('#mce-'+resp.result+'-response').html(resp.msg);
        mce_jQuery('#mc-embedded-subscribe-form').each(function(){
            this.reset();
        });
    } else {
        var index = -1;
        var msg;
        try {
            var parts = resp.msg.split(' - ',2);
            if (parts[1]==undefined){
                msg = resp.msg;
            } else {
                i = parseInt(parts[0]);
                if (i.toString() == parts[0]){
                    index = parts[0];
                    msg = parts[1];
                } else {
                    index = -1;
                    msg = resp.msg;
                }
            }
        } catch(e){
            index = -1;
            msg = resp.msg;
        }
        try{
            if (index== -1){
                mce_jQuery('#mce-'+resp.result+'-response').show();
                mce_jQuery('#mce-'+resp.result+'-response').html(msg);            
            } else {
                err_id = 'mce_tmp_error_msg';
                html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';
                
                var input_id = '#mc_embed_signup';
                var f = mce_jQuery(input_id);
                if (ftypes[index]=='address'){
                    input_id = '#mce-'+fnames[index]+'-addr1';
                    f = mce_jQuery(input_id).parent().parent().get(0);
                } else if (ftypes[index]=='date'){
                    input_id = '#mce-'+fnames[index]+'-month';
                    f = mce_jQuery(input_id).parent().parent().get(0);
                } else {
                    input_id = '#mce-'+fnames[index];
                    f = mce_jQuery().parent(input_id).get(0);
                }
                if (f){
                    mce_jQuery(f).append(html);
                    mce_jQuery(input_id).focus();
                } else {
                    mce_jQuery('#mce-'+resp.result+'-response').show();
                    mce_jQuery('#mce-'+resp.result+'-response').html(msg);
                }
            }
        } catch(e){
            mce_jQuery('#mce-'+resp.result+'-response').show();
            mce_jQuery('#mce-'+resp.result+'-response').html(msg);
        }
    }
}
</script>
<!--End mc_embed_signup-->
    <script type="text/javascript" charset="utf-8">
        $(function() {
            var box = $('<div class="subscribe-products-box"/>');
            var which = $('<div class="which-product"/>').html('I\'m interested in ');
            box.append(which);
            
            var products = ['TotalFinder', 'Visor', 'FireQuery', 'XRefresh', 'FireLogger', 'FireRainbow', 'DryDrop'];
            var buildProduct = function(product, enabled) {
                var productBox = $('<div class="subscribe-product-box"/>');

                var icon = $('<img class="subscribe-product subscribe-product-'+product.toLowerCase()+'"/>').attr('src', '/shared/img/icons/'+product.toLowerCase()+'-64.png');
                var icon2 = $('<img class="subscribe-product2 subscribe-product-'+product.toLowerCase()+'"/>').attr('src', '/shared/img/icons/'+product.toLowerCase()+'-64gs.png');
                var overlay = $('<div class="subscribe-product-overlay"/>').addClass(enabled?'oo-enabled':'oo-disabled').attr('title', 'Subscribe to '+product+' News');
                if (enabled) {
                    productBox.append(icon2, icon, overlay);
                } else {
                    productBox.append(icon, icon2, overlay);
                }
                
                productBox.bind('click', function(e) {
                    productBox.after(buildProduct(product, !enabled));
                    productBox.remove();
                    return false;
                });
                
                // sync value with the form
                $(".input-group label:contains('"+product+"')").prev('input').attr('checked', enabled);
                return productBox;
            };
            
            var thirdLevelDomain = document.location.host.split('.')[0].toLowerCase();
            var wantSpecific;
            for (var i=0; i < products.length; i++) {
                var product = products[i];
                if (product.toLowerCase()==thirdLevelDomain) {
                    wantSpecific = true;
                    break;
                }
            }
            for (var i=0; i < products.length; i++) {
                var product = products[i];
                var productBox = buildProduct(product, !wantSpecific || (product.toLowerCase()==thirdLevelDomain));
                box.append(productBox);
            }
            box.append($('<div class="clear"/>'));
            $('.mc-field-group').eq(0).before(box);
            $('.mc-field-group').eq(1).hide();
            
            $("#mce-EMAIL").textPlaceholder();
            
            $(".subscribe-link").overlay({effect: 'apple'});
        });
    </script>
</div>

{% if page.disqus %}
    <div id="disqus-wrapper"></div>
    <script type="text/javascript">
    (function() {
        var links = document.getElementsByTagName('a');
        var query = '?';
        for(var i = 0; i < links.length; i++) {
            if(links[i].href.indexOf('#disqus_thread') >= 0) {
                query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
            }
        }
        $('#disqus-wrapper').html('<scr'+'ipt charset="utf-8" type="text/javascript" src="http://disqus.com/forums/binaryage/get_num_replies.js' + query + '"></scr'+'ipt>');
    })();
    </script>
{% endif %}
    <script type="text/javascript" charset="utf-8">
    $('#tweets').append(prepareTweetLoader('Waiting for page to fully load ...'));

    $(function() {
        var initialized;
        var header = $('#header');
        $('.praise-button').bind('click', function() {
            $(this).toggleClass('pushed');
            header.toggleClass('expanded-header');
            if (!header.hasClass('expanded-header')) {
                $("#tweets").data('sparams').autoscroll.pause();
            } else {
                if (initialized) {
                    $("#tweets").data('sparams').autoscroll.play();
                }
            }
            if (!initialized) {
                $('#tweet-loader .tweet-msg').html('Asking Twitter for some shouts about BinaryAge&hellip;');
                $("#tweets").tweet({
                    user: "binaryage"
                });
                initialized = true;
            }
        });
    });
    
    // localhost debug
    $(function() {
        var host = document.location.host;
        if (host.substring(host.length-3)=='org') {
            $('a').each(function() {
                var el = $(this);
                var href = el.attr('href');
                if (href && href.match('binaryage.com')) {
                    href = href.replace('binaryage.com', 'binaryage.org');
                    el.attr('href', href);
                }
            });
        }
    });
    </script>
{% endif %}
  </body>
</html>