---
layout: default
feed: http://feeds.feedburner.com/binaryage-hints
feed_title: Mac Hints from BinaryAge
ga: UA-8404259-4
gauge: 4f4c4073844d52031a000106
menu: hints
meta_title: Mac Hints from BinaryAge
meta_keywords: blog,tips,hints,binaryage,productivity,software,mark miyashita
meta_description: Sharing tips about software, products and cool stuff from BinaryAge
meta_image: http://www.binaryage.com/shared/img/icons/binaryage-badge-256.png
products: [
{title: "TotalFinder", url: "http://totalfinder.binaryage.com", info: "Adds tabs to your Finder.app!"},
{title: "TotalSpaces", url: "http://totalspaces.binaryage.com", info: "Brings grid spaces to Lion and more!"},
{title: "TotalTerminal", url: "http://totalterminal.binaryage.com", info: "A Quake-style Terminal window"}]
articles: [
{title: "iOS 6 Beta 3 Download", url: "http://hints.binaryage.com/ios-6-beta-3-update-released-download-here/", info: "Check out the newest beta of iOS 6!"},
{title: "Mountain Lion", url: "http://hints.binaryage.com/get-your-mac-ready-for-mountain-lion/", info: "Get your Mac ready to update."},
{title: "Safari 6 Developer Preview", url: "http://hints.binaryage.com/safari-6-developer-preview-download/", info: "Download the newest Safari 6!"},
{title: "Dropbox Referrals!", url: "http://hints.binaryage.com/spread-your-dropbox-storage-link/", info: "Get more storage on Dropbox!"},
{title: "Python", url: "http://hints.binaryage.com/how-to-install-python-3-2-3-on-mac-os-x/", info: "Install the latest Python."},
{title: "iOS 5.1.1 Jailbreak", url: "http://hints.binaryage.com/ios-5-1-1-jailbreak-released-download-here/", info: "Jailbreak your iPhone."},
{title: "Archive", url: "http://hints.binaryage.com/archive", info: "Read most posts"}
]
---

<div id="blog">
    <div id="hints" class="container">
        <div class="blog-body">
            <div class="blog-content">
                {{content}}
            </div>
            <div class="blog-side">
                <div class="vseparator-top"></div>
                <div class="vseparator-body"></div>
                <div class="vseparator-bottom"></div>
                <div class="blog-side-box blog-side-about">
                    <div class="blog-side-about-left"><a href="http://markmiyashita.com"><img src="http://www.gravatar.com/avatar/dca8ea2ef85135aca16bf2457cdee3eb?s=76" width="76" height="76"></a></div>
                    <div class="blog-side-about-right"><h4>About Mark</h4>I am currently a student at the University of California, Berkeley. I am passionate about the Mac and computers in general.<br/>
                    <a href="http://markmiyashita.com">Read More »</a></div>
                    <div class="thats-me arrow"></div>                    
                </div>
                <div class="blog-side-box blog-side-follow">
                    <a href="https://twitter.com/negativetwelve" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false">Follow @negativetwelve</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
                <div class="blog-side-box blog-side-subscribe">
                    <a href="http://feeds.feedburner.com/binaryage-hints" rel="alternate" type="application/rss+xml"><div class="blog-side-icon blog-rss-icon"/></div></a>
                    <a href="http://feeds.feedburner.com/binaryage-hints" rel="alternate" type="application/rss+xml">Subscribe</a>
                    <div class="subscribe-button">
                        <a href="http://feeds.feedburner.com/binaryage-hints"><img src="http://feeds.feedburner.com/~fc/binaryage-hints?bg=dddddd&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>
                    </div>
                <div class="blog-side-box blog-side-products">
					<br>
                    {% for product in page.products %}
                    <div class="blog-side-separator-top {{product.title|downcase}}"></div>
                    <div class="blog-side-product">
                        <a href="{{product.url}}">
                            <img src="/shared/img/icons/{{product.title|downcase}}-64.png" width="38" height="38"/>
                            <div class="title">{{product.title}}</div>
                            <div class="info">{{product.info}}</div>
                        </a>
                    </div>
                    <div class="blog-side-separator-bottom {{product.title|downcase}}"></div>
                    {% endfor %}
					{% for article in page.articles %}
                    <div class="blog-side-separator-top"></div>
                    <div class="blog-side-product">
                        <a href={{article.url}}>
                            <div class="title">{{article.title}}</div>
                            <div class="info">{{article.info}}</div>
                        </a>
                    </div>
                    <div class="blog-side-separator-bottom"></div>
					{% endfor %}				
                </div>					
            </div>
        </div>
    </div>
</div>

<!-- Start of Woopra Code -->
<script type="text/javascript">
function woopraReady(tracker) {
    tracker.setDomain('hints.binaryage.com');
    tracker.setIdleTimeout(300000);
    tracker.track();
    return false;
}
(function() {
    var wsc = document.createElement('script');
    wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
    wsc.type = 'text/javascript';
    wsc.async = true;
    var ssc = document.getElementsByTagName('script')[0];
    ssc.parentNode.insertBefore(wsc, ssc);
})();
</script>
<!-- End of Woopra Code -->
