---
layout: default
satisfaction: 1
---
<div id="main-product">
    <div class="container background-highlight">
        <div class="main-product-left span-12">
            <div class="product-logo-box">
                <div class="gallery-icon-highlight"></div>
                <img class="product-icon" src="/shared/img/icons/{{page.product_title|downcase}}-64.png">
                <div class="product-tagline">
                    <h1 class="product-title">{{page.product_title}}</h1>
                    {% if page.product_badge %}
                    <div class="product-badge badge-{{page.product_title|downcase}}">{{page.product_badge}}</div>
                    {% endif %}
                    <h2 class="product-subtitle">{{page.product_subtitle}}</h2>
                </div>
            </div>
            <div class="product-actions-box">
                {% if page.usethis %}
                <div class="usethis">
                </div>
                <script>
                    $('.usethis').html(writeCapture.sanitize('<scr'+'ipt type="text/javascript" src="http://osx.iusethis.com/app/include/{{page.usethis}}/8"></scr'+'ipt>'));
                </script>
                {% endif %}
                {% if page.retweet %}
                <script type="text/javascript">tweetmeme_source = "binaryage";</script>
                <div class="retweet">
                </div>
                <script>
                    $(".retweet").html(writeCapture.sanitize('<scr'+'ipt type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></scr'+'ipt>'));
                </script>
                {% endif %}
                {% if page.facebook %}
                <div class="facebook">
                    <fb:share-button class="url" href="{{page.ogmeta.url}}/" type="box_count"></fb:share-button>
                </div>
                {% endif %}
                {% if page.buzz %}
                <div class="buzz">
                </div>
                <script>
                    $(".buzz").html(writeCapture.sanitize('<a title="Post on Google Buzz" class="google-buzz-button" href="http://www.google.com/buzz/post" data-button-style="normal-count" data-url="{{page.ogmeta.url}}" data-imageurl="{{page.ogmeta.image}}"></a><scr'+'ipt type="text/javascript" src="http://www.google.com/buzz/api/button.js"></scr'+'ipt>'));
                </script>
                {% endif %}
                <div class="clear"></div>
            </div>
            <div class="facebook-like-box">
                <fb:like href="{{page.ogmeta.url}}" layout="standard" show_faces="true" width="250" action="like" font="arial" colorscheme="light"></fb:like>
            </div>
            <div class="product-buttons-box">
                <div class="product-buttons">
                    {% if page.download %}
                    <a href="{{page.download}}" class="product-button-download-a">
                        <div class="product-button-download"><div>{{page.downloadtitle}}</div></div>
                    </a>
                    {% endif %}
                    {% if page.buy %}
                    <!-- <a href="{{page.buy}}" class="product-button-buy-a"> -->
                        <div class="product-button-buy"><div>{{page.buytitle}}</div></div>
                    <!-- </a> -->
                    {% endif %}
                    <div class="clear"></div>
                </div>
                <div class="product-note-box">
                    {% if page.note %}
                        <div class="product-note">{{page.note}}</div>
                    {% endif %}
                </div>
            </div>
            {% if false %}
            <div class="product-advert-box">
                {% if page.advert %}
                    <div class="product-advert">{{page.advert}}</div>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="main-product-right span-12 last">
            <div class="main-screenshot">
                {% for shot in page.shots %}
                <div id="screenshot-box-{{forloop.index}}" class="screenshot-box" {% if forloop.index0 > 0 %}style="display:none"{% endif %}>
                    {% if shot.type == 'xxx' %}
                    
                    {% else %}
                    <a href="{{site.url}}{{shot.full}}" class="overlayable" title="{{shot.title}}"><img src="{{site.url}}{{shot.full}}"/></a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
Cufon.replace('.product-title');
Cufon.replace('.product-subtitle');
Cufon.replace('.product-button-download-a', {
    hover: { color: "#F8941C"}    
});
Cufon.replace('.product-button-buy');
</script>

<div id="main-tabs">
    <div class="container">
        <ul class="tabs"> 
        </ul> 
        <div class="panes"> 
        </div>
    </div>
</div>

<div class="main-content-here" style="display:none">
    {{ content }}
</div>

<script>
$(function() { 
    var panes = $('.panes');
    var tabs = $('.tabs');
    var cur;
    var items = $('.main-content-here > *');
    items.each(function(i) {
        var el = $(this);
        var tag = el.attr('tagName');
        if (tag=='SCRIPT') return;
        if (tag=='NOSCRIPT') return;
        if (tag=='STYLE') return;
        if (el.hasClass('panes') || el.hasClass('tabs')) return;
        if (el.attr('tagName')=='H2') {
            var name = el.html();
            var id = name.toLowerCase();
            var li = $('<li/>');
            var a = $('<a class=\"tbx\"/>').attr('href', '#'+id).html(name.toUpperCase());
            li.append(a);
            tabs.append(li);
            cur = $('<div/>').addClass('wikistyle').addClass(id);
            panes.append(cur);
            el.remove();
            cur.append($("<h2/>").html(name));
        } else {
            if (cur) {
                cur.append(el);
            }
        }
    });
    $("ul.tabs").tabs("div.panes > div").history();
    Cufon.replace('.tbx');
});
</script>

<script>
    $(function() {
        $(".product-thumbs-scrollable").scrollable({
            size: 5
        });

        $(".product-thumbs-items img").click(function() {
            var img = $(this);
            var visible = $('.screenshot-box:visible');
            var box = $(img.attr('rel'));
            if (box[0] === visible[0]) return; // optimization to not fade when clicked same image or during initial load
            visible.fadeOut();
            box.fadeIn();
        }).filter(":first").click(); // when page loads simulate a "click" on the first image
    });
</script>

<div class="simple_overlay" id="overlay-gallery"> 
    <a class="overlay-prev">prev</a> 
    <a class="overlay-next">next</a> 
    <div class="overlay-info"></div>
    <img class="overlay-progress" src="{{site.url}}/shared/img/twitter-loader.gif" /> 
</div>

<script>
(function() {
    $('.overlayable').overlay({
        expose: '#f1f1f1',
        target: '#overlay-gallery'
    }).gallery({
        disabledClass: 'disabled-overlay',
        prev: '.overlay-prev',
        next: '.overlay-next',
        info: '.overlay-info',
        progress: '.overlay-progress',
        opacity: 1,
        speed: 200, 
        template: '[${index}/${total}] ${title}'
    });
    setTimeout(function() {
        $('.usethis').fadeIn('slow');
    }, 3000);
})();
</script>
