---
layout: default
satisfaction: 1
---
<div id="main-product">
    <div class="container">
        <div class="main-product-left span-12" style="padding-top:{{page.leftshift}}">
            <div class="product-logo-box">
                <img class="product-icon" src="/shared/img/icons/{{page.product_title|downcase}}-64.png">
                <div class="product-tagline">
                    <h1 class="product-title">{{page.product_title}}</h1>
                    {% if page.product_badge %}
                    <div class="product-badge badge-{{page.product_title|downcase}}">{{page.product_badge}}</div>
                    {% endif %}
                    <h2 class="product-subtitle">{{page.product_subtitle}}</h2>
                </div>
            </div>
            <div class="product-buttons-box">
                <div class="product-buttons">
                    <a href="http://revision3.com/tzdaily/2010-02-16totalfinder" id="teaser-link" rel="#teaser" class="button button-300 product-button-play">
                        <div><div>Watch Video</div></div>
                    </a>
                    <a href="{{page.download}}" id="download-link" class="button button-300 product-button-download">
                        <div><div><div class="trial-note">14-day trial</div>{{page.downloadtitle}}<div class="product-specs">Requires OS X 10.6 (Snow Leopard)</div></div></div>
                    </a>
                    <a href="https://sites.fastspring.com/binaryage/instant/totalfinder" id="buy-link" rel="#buy" class="button button-300 product-button-buy">
                        <div><div>Buy it for $15 or $10<span class="buy-asterix">*</span></div></div>
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="reasons-to-buy">
                    <a href="/free-licenses">I'm also giving away free licenses!</a><br>
                    <a href="/reasons-to-buy">why you should buy otherwise?</a><br>
                </div>
            </div>
            {% if false %}
            <div class="product-advert-box">
                {% if page.advert %}
                    <div class="product-advert">{{page.advert}}</div>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="main-product-right span-12 last">
            <div class="facebook-like-box" style="left:{{ page.likeshift }};">
                <fb:like href="{{page.ogmeta.url}}" layout="standard" show_faces="false" action="like" font="arial" colorscheme="light"></fb:like>
            </div>        
            <div class="main-screenshot" style="height: 325px;">
                {% for shot in page.shots %}
                <div id="screenshot-box-{{forloop.index}}" class="screenshot-box" {% if forloop.index0 > 0 %}style="display:none"{% endif %}>
                    {% if shot.type == 'xxx' %}
                    
                    {% else %}
                    <a href="{{site.url}}{{shot.full}}" class="overlayable" title="{{shot.title}}"><img src="{{site.url}}{{shot.full}}"/></a>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="clear"></div>
            </div>
            <div class="tf-product-actions-box">
                <div class="tf-product-actions-box-inner">
                {% if page.retweet %}
                <div class="retweet">
                <a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="binaryage">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>                
                </div>
                {% endif %}
                {% if page.facebook and false %}
                <div class="facebook">
                    <fb:share-button class="url" href="{{page.ogmeta.url}}/" type="box_count"></fb:share-button>
                </div>
                {% endif %}
                {% if page.buzz %}
                <div class="buzz">
                </div>
                <script>
                    $(".buzz").html(writeCapture.sanitize('<a title="Post on Google Buzz" class="google-buzz-button" href="http://www.google.com/buzz/post" data-button-style="normal-count" data-url="{{page.ogmeta.url}}" data-imageurl="{{page.ogmeta.image}}"></a><scr'+'ipt type="text/javascript" src="http://www.google.com/buzz/api/button.js"></scr'+'ipt>'));
                </script>
                {% endif %}
                <a href="http://www.macupdate.com/info.php/id/33373/totalfinder">
                <div class="macupdate">
                </div>
                </a>
                <script>
                    $(".macupdate").html(writeCapture.sanitize('<scr'+'ipt type=\'text/javascript\' src=\'http://www.macupdate.com/developer/badge/?app=33373\'></scr'+'ipt>'));
                </script>
                {% if page.usethis %}
                <div class="usethis">
                </div>
                <script>
                    $('.usethis').html(writeCapture.sanitize('<scr'+'ipt type="text/javascript" src="http://osx.iusethis.com/app/include/{{page.usethis}}/8"></scr'+'ipt>'));
                </script>
                {% endif %}
                {% if page.flattr %}
                <div class="flattr">
                <script type="text/javascript">
                    document.write('<iframe width="50" scrolling="no" height="60" frameborder="0" src="http://api.flattr.com/button/view/?uid=0&amp;url='+encodeURIComponent('{{page.flattr}}')+'&amp;language=&amp;hidden=0&amp;title=&amp;category=&amp;tags=&amp;description=" border="0" marginheight="0" marginwidth="0" allowtransparency="true"></iframe>')
                </script>
                </div>
                {% endif %}
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<div id="main-content tf-home">
    <div class="container">
        {{ content }}
    </div>
</div>

<div class="teaser-overlay" id="teaser" style="display:none;">
    <div class="overlay-content">
    <embed class="rev3PlayerEmbed" type="application/x-shockwave-flash" src="http://revision3.com/player-v4346" allowFullScreen="true" quality="high" allowScriptAccess="always" width="590" height="450"/>
    <div style="float: right; font-size: 9px; text-align: right; position:relative; top: -2px; line-height: 10px;">Footage courtesy of <a href="http://revision3.com/tzdaily/2010-02-16totalfinder">TekZilla Daily (Revision3 TV)</a></div>
    <div style="float: left; font-size: 9px; text-align: left; position:relative; top: -2px; line-height: 10px;">Note: Not freeware. However, it was a free ALPHA for long time.</div>
    </div>
</div>

<div class="buy-overlay" id="buy" style="display:none;">
    <div class="overlay-content">
        <div class="buy-options">You have two options&hellip;</div>
        <a href="https://sites.fastspring.com/binaryage/instant/totalfinder">
            <div class="buy-15-box buy-explanation-box">
                <div class="exp-title">single license</div>
                <div class="exp-subtitle">&nbsp;</div>
                <div class="exp-image"></div>
                <div class="exp-deal">Happy to pay the standard price?<br/>This is the way to go.</div>
                <div class="exp-link">Buy it for $15</div>
            </div>
        </a>
        <a href="https://sites.fastspring.com/binaryage/instant/totalfinder-friends">
            <div class="buy-30-box buy-explanation-box">
                <div class="exp-title">3-licenses pack</div>
                <div class="exp-subtitle">&nbsp;</div>
                <div class="exp-image"></div>
                <div class="exp-deal">Want a discount? One license just for $10!<br/>
                    You get one license plus two free coupon links.<br/>
                    It is a good idea to offer coupons to friends.
                </div>
                <div class="exp-link">Buy it for $30</div>
            </div>
        </a>
        <div class="exp-info">
            More info in the article <a href="http://blog.binaryage.com/totalfinder-discount-coupon-with-friends">TotalFinder discount for friends</a><br>
            Companies may be interested in <a href="http://blog.binaryage.com/totalfinder-enterprise-office-licensing">TotalFinder office licensing</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $("#teaser-link").overlay({effect: 'apple'});
        $("#buy-link").overlay({effect: 'apple'});

        // optimizely events
        $("#teaser-link").bind("click", function() {
            optimizely.trackEvent("VideoButtonClicked");
        });
        $("#buy-link").bind("click", function() {
            optimizely.trackEvent("BuyButtonClicked");
        });
        $("#download-link").bind("click", function() {
            optimizely.trackEvent("DownloadButtonClicked");
        });
    });
</script>

<script>
    $(function() {
        $(".product-thumbs-scrollable").scrollable({
            size: 5
        });

        $(".product-thumbs-items img").click(function() {
            var img = $(this);
            var visible = $('.screenshot-box:visible');
            var box = $(img.attr('rel'));
            if (box[0] === visible[0]) return; // optimization to not fade when clicked same image or during initial load
            visible.fadeOut();
            box.fadeIn();
        }).filter(":first").click(); // when page loads simulate a "click" on the first image
    });
</script>

<div class="simple_overlay" id="overlay-gallery"> 
    <a class="overlay-prev">prev</a> 
    <a class="overlay-next">next</a> 
    <div class="overlay-info"></div>
    <img class="overlay-progress" src="{{site.url}}/shared/img/twitter-loader.gif" /> 
</div>

<script>
(function() {
    $('.overlayable').overlay({
        expose: '#f1f1f1',
        target: '#overlay-gallery'
    }).gallery({
        disabledClass: 'disabled-overlay',
        prev: '.overlay-prev',
        next: '.overlay-next',
        info: '.overlay-info',
        progress: '.overlay-progress',
        opacity: 1,
        speed: 200, 
        template: '[${index}/${total}] ${title}'
    });
})();
</script>
